
# Example code in package build process
# History files
# Mac OS X
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
# Output files from R CMD build
# Output files from R CMD check
# RStudio files
# Session Data files
# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
# Temporary files created by R markdown
# knitr and R markdown default cache directories
# pkgdown website is built by GitHub action on gh-pages
# produced vignettes
*-Ex.R
*.dbf
*.doc*
*.gddoc
*.gdsheet
*.gpkg
*.html
*.knit.md
*.mdb
*.shp*
*.shx
*.utf8.md
*.xls*
*_files
.DS_Store
.RData
.Rapp.history
.Rhistory
.Rproj.user
.Rproj.user/
.Ruserdata
.httr-oauth
/*.Rcheck/
/*.tar.gz
/*_cache/
/cache/
docs
docs/
libs
output
rsconnect/
vignettes/*.html
vignettes/*.pdf
