
# Example code in package build process
# History files
# knitr and R markdown default cache directories
# Mac OS X
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
# Output files from R CMD build
# Output files from R CMD check
# pkgdown website is built by GitHub action on gh-pages
# produced vignettes
# RStudio files
# Session Data files
# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
# Temporary files created by R markdown
*-Ex.R
*.html
*.knit.md
*.utf8.md
.DS_Store
.httr-oauth
.Rapp.history
.RData
.Rhistory
.Rproj.user
.Rproj.user/
.Ruserdata
/*.Rcheck/
/*.tar.gz
/*_cache/
/cache/
docs
docs/
rsconnect/
vignettes/*.html
vignettes/*.pdf
